:root{
    --pryColor: rgb(10, 36, 153);
    --secColor: rgb(218, 130, 15);
    --headingFont: 15px;
    --borderColor: rgb(146, 146, 146);

}
body{
font-weight: bold;
}

h1{
margin-bottom: 0cm;
}
.sch-info{
/* height: 80px; */
border: 0;
border: 2px solid var(--borderColor);
margin-top: 0;
display: flex;

}
.sch-info tr, 
.sch-info td,
.sch-info th {
  border:2px solid rgb(177, 174, 174);
  border-bottom: 0;
  padding-left: 10px;

}
.sch-data{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* .sch-logo{
    border-right: 2px solid var(--borderColor);
} */
.main{
    border: 5px solid black;
    padding: 0;
}
.ashed{
    font-size: normal;
font-style: italic;
color: var(--secColor);
}

h2{
    text-align: center;
    color: white;
    background-color: var(--pryColor);
    margin: 0;
    border: 2px solid var(--borderColor);
    border-bottom: 0;
    border-top: 0;
    font-size: 18px;
    padding: 5px;
}

.bio-flex{
    display: flex;
}

.column-1,
.column-2{
   border: 2px solid var(--borderColor);
    border-top: 0;
    padding: 0; 
    width: 50%; 
}
 .column-1 table,
 .column-2 
 
 {
    border: none;

}
.column-1 table tr,
.column-2 table tr
{
height: 30px;
/* border: none; */
}
.column-1 table th,
.column-2 table th
{
padding-left: 10px;
border: none;

}
.column-1 table td,
.column-2 table td
{
padding-left: 10px;
border: none;
padding-right: 20px;

}
 

.column-1{
/* border-right: 1px solid var(--borderColor); */
}
.column-2{
    /* border-left: 1px solid var(--borderColor); */
    } 
 .column-1 p,
.column-2 p{
    /* padding: 5px;
    padding-left: 15px;
    margin: 0;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid var(--borderColor);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 3rem;
    color: black; */
}

.column-1 span,
.column-2 span{
    font-weight: bold;
    font-size: 15px;
}
/* hr{
    border: 1px solid black;
}  */
.bio-position{
    position: relative;
    margin-top: 0;
    width: 100%;
}

.bio-position img{
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
    border: 2px solid var(--borderColor);
    max-width: 100%;
}
table{   
     width: 100%;
}

 tr, td, th {
    border:2px solid rgb(177, 174, 174);
    width: auto;
    padding-left: 10px;

  }
  th{
    padding-left: 0px;

  }
  .ruled tr, 
  .ruled td,
  .ruled th {
    border:2px solid rgb(177, 174, 174);
    width: 450px;
    padding-left: 10px;

  }

.divider{
    text-transform: uppercase;
    background-color: var(--pryColor);
    margin-top: 0;
    border: 2px solid var(--borderColor);
    color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secColor);
}

.divider thead{
display: flex;
/* align-items: center; */
justify-content: space-around;
border: none;
}
.divider th,
.divider td
{
    border: none;
    }


.word-grad{
    display: flex;
    width: 100%;
    border: 2px solid var(--borderColor);
}

.grad-1, .grad-2{
    width: 50%;
    
}
.grad-2{
margin-left: 5px;    
}

.key-affec{
    border: 0px solid var(--borderColor);
    border-top: 0;
}

.key-affec p{
    /* border-bottom: 2px solid var(--borderColor); */
    border-top: 0;
margin-left: 10px;}
.principal-comment{
    border: 2px solid var(--borderColor);
    border-top: 0;
   
}
.principal-comment .class{
    border: 2px solid var(--borderColor);
    border-top: 0;
   
}
.principal-comment h4{
border-bottom: 0px;  
font-size: 15px; 
font-weight: bolder;
margin-top: 0px;
padding: 5px;
/* text-decoration: underline; */
}
.spacing{
height: 180px;
}

button{
    color: white;
    background-color: var(--secColor);
    border: none;
    text-align: center;
    width:20%;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}
.button-container{
    text-align: center;
}











